PORT=3000
ADMIN_SESSION_SECRET=change-me
SPACE_ADMIN_PHONE_NUMBER=18888888888
SPACE_ADMIN_PASSWORD=password123
APP_UPDATE_STORAGE_DIR=storage
MONGODB_URI=mongodb://mongo:27017
MONGODB_DATABASE=chat_server
MONGO_USERNAME=chatService
MONGO_PASSWORD=chatService123
MONGO_AUTH_SOURCE=chat_server
OPENIM_API_URL=http://openim-server:10002
OPENIM_SECRET=openIM123
OPENIM_ADMIN_USER_ID=imAdmin
OPENIM_MESSAGE_SEARCH_PATH=/msg/search_msg
