PORT=3000
MONGODB_URI=mongodb://mongo:27017
MONGODB_DATABASE=chat_server
MONGO_USERNAME=chatService
MONGO_PASSWORD=chatService123
MONGO_AUTH_SOURCE=chat_server
OPENIM_API_URL=http://openim-server:10002
OPENIM_SECRET=openIM123
OPENIM_ADMIN_USER_ID=imAdmin
